<a id="bookmark-{{bookmark.pk}}-chapter-number" href="{{bookmark.chapter_url}}" target="__blank" hx-swap-oob="true">
    {{bookmark.chapter_number}}
</a>
<div id="bookmark-{{bookmark.pk}}-actions" hx-swap-oob="true">
{% if bookmark.next_chapter_url %}
    <a class="button" hx-post="{% url 'admin:view-bookmark-next-chapter' bookmark.pk %}">Open</a>
{% endif %}
{% if bookmark.next_chapter_opened %}
    <a class="button" hx-post="{% url 'admin:change-bookmark-to-next-chapter' bookmark.pk %}" >Save</a>
{% endif %}
</div>
